// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path) {
  background-image: url(@path);
    @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media @highdpi {
      background-image: url("@{at2x_path}");
    }
}


.sprite() {
  background-repeat: no-repeat;
  .at2x("http://doora.qiniudn.com/wx_sprite.png");
  background-size: 88px 64px;
}


.weixin-share {

  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 4px;
  background: #F4F4F4;
  text-align: center;
  z-index: 1003;

  .arrow {
    position: absolute;
    right: 12px;
    top: -11px;
    width: 46px;
    height: 50px;
    background-position: -5px -5px;
    .sprite();
  }

  .help-title {
    height: 50px;
    padding-right: 47px;
    text-align: right;

    span {
      position: relative;
      top: 13px;
      right: 10px;
      color: #E58C7C;
      font-size: 18px;
      font-weight: bold;
    }
  }

  a {
    width: calc(50% - 4px);
    color: #6B6F73;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;

    img {
      position: relative;
      top: 7px;
      left: -3px;
      width: 22px;
    }

    span {
      padding: 4px 10px 15px 28px;
      display: inline-block;
      text-align: left;
      color: #E58C7C;
    }

    span.img {
      .sprite();
    }

    span.img.share {
      background-position: -61px -37px;
    }

    span.img.circle {
      background-position: -61px -5px;
    }

  }

  .close-btn {
    position: absolute;
    background-color: #F4F4F4;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    line-height: 23px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #E58C7C;
    cursor: pointer;
  }

}


.wx-share-overlay {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}
